{
  "presets": ["es2015"],
  "plugins": ["syntax-object-rest-spread", "transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["syntax-object-rest-spread", "transform-object-rest-spread", "rewire"]
    }
  }
}