version: 2

jobs:
  node-latest:
    docker:
      - image: circleci/node:latest

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Run tests
          command: npm test

      - run:
          name: Check lint
          command: npm run lint
          when: always

  node-10:
    docker:
      - image: circleci/node:10

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Run tests
          command: npm test

  node-8:
    docker:
      - image: circleci/node:8

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: npm install

      - run:
          name: Run tests
          command: npm test

workflows:
  version: 2

  on-commit:
    jobs:
      - node-latest
      - node-10
      - node-8
